
<!-- post title content and image
    two modes: edit and view
    -->
<% if (post.mode === "view") {%>
    <div class="title">
        <%= post.title %>
    </div>
    <div class="content">
        <%= post.content %> 
    </div>
<% } else if (post.mode === "edit") { %>
    <form action="/update" method="post">
        <input type="text" class="title-box" name="title" value="<%= post.title %>" placeholder="enter a title">
        <textarea name="content" placeholder="enter the post content"><%= post.content %></textarea>
        <input type="file" class="imgUpdate" accept="image/*">
        <button class="submit-post" type="submit" name="index" value=<%= index %>>
            OK
        </button>
        <!-- hidden input to pass the updated image -->
        <input type="hidden" class="<%= "img-url" + post.index %>" name="imgUrl" value="<%= post.imgUrl %>">
    </form>
<% } %>

<% if (post.imgUrl) {%>
    <div class="image">
        <img src="<%= post.imgUrl %>" alt="uploaded image">
    </div>
<% } %>
    


<!-- update and delete buttons -->
<div class="function-btns">
    <form action="/edit" method="post">
        <button class="update" type="submit" name="index" value=<%= index %>>
            ⬆️
        </button>
    </form>
    <form action="/delete" method="post">
        <button class="delete" name="index" value=<%= index %> type="submit">
            🗑️
        </button>
    </form>
</div>
