
<h1>post</h1>
<!-- post title content and image
    two modes: edit and view
    -->
<% if (post.mode === "view") {%>
    <div class="post-title">
        <%= post.title %>
    </div>
    <div class="text">
        <%= post.content %> 
    </div>
<% } else if (post.mode === "edit") { %>
    <form action="/update" method="post">
        <input type="text" name="title" value="<%= post.title %>">
        <input type="textarea" name="content" value="<%= post.content %>">
        <input type="file" class="imgUpdate" accept="image/*" value=<%= index %>>
        <button class="submit-post" type="submit" name="index" value=<%= index %>>
            OK
        </button>
        <!-- hidden input to pass the updated image -->
            <input type="hidden" class="<%= "img-url" + post.index %>" name="imgUrl">
    </form>
<% } %>

<% if (post.imgUrl) {%>
    <div class="image">
        <img src="<%= post.imgUrl %>" alt="uploaded image">
    </div>
<% } %>
    


<!-- update and delete buttons -->
<form action="/edit" method="post">
    <button class="update" type="submit" name="index" value=<%= index %>>
        ⬆️
    </button>
</form>
<form action="/delete" method="post">
    <button class="delete" name="index" value=<%= index %> type="submit">
        🗑️
    </button>
</form>
